In [35]:
import pandas as pd

In [36]:
frame= pd.read_csv('rating_final.csv')
cuisine= pd.read_csv('chefmozcuisine.csv')

In [37]:
rating_count=pd.DataFrame(frame.groupby(['placeID'])['rating'].count())
rating_count.sort_values('rating',ascending=False).head(10)

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25
135038       24
135060       22
135062       21
135042       20
132862       18

In [38]:
most_rated_places= pd.DataFrame([135085,132825,135032,135052,132834,135038,
                                135060],np.arange(7),
                                columns=['placeID'])
summary=pd.merge(most_rated_places,cuisine,on= 'placeID')

In [39]:
cuisine["Rcuisine"].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object